<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/blog.css' %}" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <!-- <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">  -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">    
  <link href={% static "css/fontawesome-free-5.15.3-web/css/all.css" %} rel="stylesheet">
  
  
</head>

<body>
  <nav class="p-3 mb-2 navbar navbar-expand-lg navbar-dark fixed-top  border border-dark" style="background-color: #000000;">
    <a class="navbar-brand" href="#">Ketan Parihar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto navbar-light">
        <a class="nav-link active " href={% url "blog:home" %}>Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" href={% url "blog:post_list" %}>Blog</a>
        <a class="nav-link" href={% url "blog:post_list" %}>About</a>
        <a class="nav-link" href="#">Projects</a>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          <button class="btn btn-outline-success my-2 my-sm-0 pt-2 m-2" type="button"><a href="/registrationpage/" >Registration</a></button>
           <button class="btn btn-outline-primary my-2 my-sm-0 pt-2 m-2" type="button"><a href="/loginpage/" >Log In</a></button>
           <button class="btn btn-outline-danger my-2 my-sm-0 pt-2 m-2" type="button"><a href="/logout/" >Log Out</a></button>
          
        </form>
      </div>
    </div>
  </nav>
</body>
</html>
{% block content %}
{% endblock %}